[submodule "astropy_helpers"]
	path = astropy_helpers
	url = https://github.com/astropy/astropy-helpers.git
[submodule "finf-standard"]
	path = finf-standard
	url = git://github.com/spacetelescope/finf-standard.git
