[submodule "astropy_helpers"]
	path = astropy_helpers
	url = https://github.com/astropy/astropy-helpers.git
[submodule "asdf-standard"]
	path = asdf-standard
	url = https://github.com/spacetelescope/asdf-standard.git
