# We set the language to c because python isn't supported on the MacOS X nodes
# on Travis. However, the language ends up being irrelevant anyway, since we
# install Python ourselves using conda.
language: c

os:
    - linux

# Use Travis' container-based architecture
sudo: false

addons:
  apt:
    packages:
    - graphviz
    - texlive-latex-extra
    - dvipng

env:
    global:
        # The following versions are the 'default' for tests, unless
        # overidden underneath. They are defined here in order to save having
        # to repeat them for all configurations.
        - PYTHON_VERSION=3.6
        - ASTROPY_VERSION=development
        - NUMPY_VERSION=stable
        - PIP_DEPENDENCIES='pytest-astropy pytest-faulthandler'
        - CONDA_DEPENDENCIES='semantic_version jsonschema pyyaml six lz4'
        #- GWCS_GIT='git+git://github.com/spacetelescope/gwcs.git#egg=gwcs'
        - GWCS_GIT='git+git://github.com/nden/gwcs@move-schemas#egg=gwcs'
        - SETUP_CMD='test --remote-data'

    matrix:
        # Make sure that installation does not fail
        - SETUP_CMD='install'
        - PYTHON_VERSION=3.5 SETUP_CMD='test'
        - PYTHON_VERSION=3.6 SETUP_CMD='test'

matrix:
    include:

        # Do a coverage test
        - env: SETUP_CMD='test --coverage --open-files --remote-data'

        # Check for sphinx doc build warnings - we do this first because it
        # may run for a long time
        - env: SETUP_CMD='build_docs -w'

        # try older numpy versions
        - env: PYTHON_VERSION=3.5 NUMPY_VERSION=1.11 SETUP_CMD='test'
        - env: NUMPY_VERSION=1.12 SETUP_CMD='test'

        # latest stable versions
        - env: NUMPY_VERSION=stable SETUP_CMD='test'

        # Test against development version of numpy (this job can fail)
        - env: NUMPY_VERSION=development SETUP_CMD='test'

        # Try a run on OSX
        - os: osx
          env: NUMPY_VERSION=stable SETUP_CMD='test'

    allow_failures:
        - env: NUMPY_VERSION=development SETUP_CMD='test'

install:
    - git clone git://github.com/astropy/ci-helpers.git
    - source ci-helpers/travis/setup_conda.sh
    - python -m pip install --no-deps $GWCS_GIT
    - python setup.py install

script:
   - python setup.py $SETUP_CMD

after_success:
    # If coveralls.io is set up for this package, uncomment the line
    # below and replace "packagename" with the name of your package.
    # The coveragerc file may be customized as needed for your package.
    - if [[ $SETUP_CMD == 'test --coverage --open-files --remote-data' ]]; then coveralls --rcfile='asdf/tests/coveragerc'; fi
