[project]
name = "asdf"
description = "Python implementation of the ASDF Standard"
readme = 'README.rst'
license = { file = 'LICENSE' }
authors = [{ name = 'The ASDF Developers', email = 'help@stsci.edu' }]
requires-python = '>=3.9'
classifiers = [
  'Development Status :: 5 - Production/Stable',
  "License :: OSI Approved :: BSD License",
  'Programming Language :: Python',
  'Programming Language :: Python :: 3',
  'Programming Language :: Python :: 3.9',
  'Programming Language :: Python :: 3.10',
  'Programming Language :: Python :: 3.11',
]
dynamic = [
  'version',
]
dependencies = [
  "asdf-standard>=1.0.1",
  "asdf-transform-schemas>=0.3",
  "asdf-unit-schemas>=0.1",
  "importlib-metadata>=4.11.4",
  "jmespath>=0.6.2",
  "numpy>=1.22",
  "packaging>=19",
  "pyyaml>=5.4.1",
  "semantic_version>=2.8",
  # for vendorized jsonschema
  "attrs>=17.4.0",
  # prior versions compatible with jsonschema raise deprecation
  # warnings for collections.abc
  "pyrsistent>0.17.2",
  # end of vendorized jsonschema deps
  # include jsonschema for all the downstream packages expecting us to provide this
  "jsonschema>=4.7",
]
[project.optional-dependencies]
all = [
  "lz4>=0.10",
]
docs = [
  "sphinx-asdf>=0.1.4",
  "graphviz",
  "sphinx-inline-tabs",
  'tomli; python_version < "3.11"',
]
tests = [
  "astropy>=5.0.4",
  "fsspec[http]>=2022.8.2",
  "gwcs>=0.18.3",
  "jsonschema",
  "lz4>=0.10",
  "psutil",
  "pytest>=6",
  "pytest-doctestplus",
  "pytest-openfiles",
  "pytest-remotedata",
]
[project.urls]
'documentation' = 'https://asdf.readthedocs.io/en/stable'
'repository' = 'https://github.com/asdf-format/asdf'
'tracker' = 'https://github.com/asdf-format/asdf/issues'
[project.entry-points]
'asdf.extensions' = {asdf = 'asdf.core._integration:get_extensions'}
'asdf.resource_mappings' = {asdf = 'asdf.core._integration:get_json_schema_resource_mappings'}
asdf_extensions = {builtin = 'asdf.extension._legacy:BuiltinExtension'}
console_scripts = {asdftool = 'asdf.commands.main:main'}
pytest11 = {asdf_schema_tester = 'pytest_asdf.plugin'}

[build-system]
build-backend = 'setuptools.build_meta'
requires = [
  "setuptools>=60",
  "setuptools_scm[toml]>=3.4",
  "wheel",
]

[tool.setuptools.packages.find]
include = ['asdf*', 'pytest_asdf*']

[tool.setuptools.package-data]
'asdf.commands.tests.data' = ["*"]
'asdf.tags.core.tests.data' = ["*"]
'asdf.tests.data' = ["*"]

[tool.setuptools_scm]
write_to = "asdf/_version.py"

[tool.black]
line-length = 120
force-exclude = '''
^/(
  (
      \.eggs
    | \.git
    | \.pytest_cache
    | \.tox
    | asdf/extern
    | asdf/_jsonschema
    | build
    | dist
  )/
)
'''

[tool.pytest.ini_options]
testpaths = ['asdf', 'docs']
minversion = 4.6
norecursedirs = ['build', 'docs/_build', 'docs/sphinxext']
doctest_plus = 'enabled'
remote_data_strict = true
# The asdf.asdftypes module emits a warning on import,
# which pytest trips over during collection:
filterwarnings = [
    'error',
    'ignore:numpy.ndarray size changed:RuntimeWarning',
]
# Configuration for pytest-doctestplus
text_file_format = 'rst'
addopts = '--color=yes --doctest-rst'

[tool.coverage.run]
omit = [
    'asdf/_astropy_init*',
    'asdf/conftest*',
    'asdf/cython_version*',
    'asdf/setup_package*',
    'asdf/*/setup_package*',
    'asdf/*/*/setup_package*',
    'asdf/testing/*',
    'asdf/tests/*',
    'asdf/*/tests/*',
    'asdf/*/*/tests/*',
    'asdf/version.*',
    'asdf/compat*',
    'asdf/extern*',
    'asdf/_jsonschema*',
    # And again for running against installed version
    '*/asdf/_astropy_init*',
    '*/asdf/conftest*',
    '*/asdf/cython_version*',
    '*/asdf/setup_package*',
    '*/asdf/*/setup_package*',
    '*/asdf/*/*/setup_package*',
    '*/asdf/testing/*',
    '*/asdf/tests/*',
    '*/asdf/*/tests/*',
    '*/asdf/*/*/tests/*',
    '*/asdf/version.*',
    '*/asdf/compat*',
    '*/asdf/extern*',
    '*/asdf/_jsonschema*',
]

[tool.coverage.report]
exclude_lines = [
    # Have to re-enable the standard pragma
    'pragma: no cover',
    # Don't complain about packages we have installed
    'except ImportError',
    # Don't complain if tests don't hit assertions
    'raise AssertionError',
    'raise NotImplementedError',
    # Don't complain about script hooks
    'def main\(.*\):',
    # Ignore branches that don't pertain to this version of Python
    'pragma: py{ ignore_python_version }',
]

[tool.ruff]
target-version = "py38"
line-length = 120
select = [
    # minimal set to match pre-ruff behavior
    "E", # pycodestyle
    "F", # pyflakes, autoflake
    "I", # isort
    "S", # bandit
    "UP", # pyupgrade
    "RUF",  # ruff specific, includes yesqa
]
extend-ignore = [
    "S310", # URL open for permitted schemes
    "RUF012",  # mutable-class-default (typing related)
]
extend-exclude = ["asdf/extern/*", "asdf/_jsonschema/*", "docs/*"]

[tool.ruff.per-file-ignores]
"test_*.py" = ["S101"]
"asdf/_tests/_helpers.py" = ["S101"]
"compatibility_tests/common.py" = ["S101"]

[tool.flynt]
exclude = ["asdf/extern/*", "asdf/_jsonschema/*"]

[tool.codespell]
skip="*.pdf,*.asdf,.tox,asdf/extern,asdf/_jsonschema,build,./tags,.git,docs/_build"
ignore-words-list="""
fo,afile,
"""
