git+https://github.com/asdf-format/asdf-standard
git+https://github.com/asdf-format/asdf-transform-schemas
git+https://github.com/yaml/pyyaml.git

numpy>=0.0.dev0
# although we don't use scipy, we include it here so that any dependency
# that uses it during these tests will use the development version
# which is more likely to work with the above development version of numpy
scipy>=0.0.dev0
