git+https://github.com/asdf-format/asdf-standard
git+https://github.com/asdf-format/asdf-transform-schemas
git+https://github.com/yaml/pyyaml.git
git+https://github.com/python-attrs/attrs
fsspec[http] @ git+https://github.com/fsspec/filesystem_spec

numpy>=0.0.dev0
