name: CI

on:
  push:
    branches:
      - master
      - stable
      - '*.x'
      - asdf-3.0-epic
    tags:
      - '*'
  pull_request:

jobs:
  tox:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Python 3.10
            os: ubuntu-latest
            python-version: "3.10"
            toxenv: py310

          - name: Python 3.9 (with code coverage)
            os: ubuntu-latest
            python-version: "3.9"
            toxenv: coverage

          - name: Python 3.8
            os: ubuntu-latest
            python-version: "3.8"
            toxenv: py38

          - name: Python 3.8 with oldest supported dependencies
            os: ubuntu-latest
            python-version: "3.8"
            toxenv: py38-oldestdeps

          - name: Build documentation
            os: ubuntu-latest
            python-version: "3.9"
            toxenv: docs

          - name: macOS
            os: macos-latest
            python-version: "3.9"
            toxenv: py39

          - name: Compatibility with older asdf libraries
            os: ubuntu-latest
            python-version: "3.9"
            toxenv: compatibility

          - name: Bandit security checks
            os: ubuntu-latest
            python-version: "3.9"
            toxenv: bandit

          - name: Flake8 checks
            os: ubuntu-latest
            python-version: "3.9"
            toxenv: flake8

          - name: Twine checks
            os: ubuntu-latest
            python-version: "3.9"
            toxenv: twine

          - name: Astropy Dev
            os: ubuntu-latest
            python-version: "3.9"
            toxenv: py39-astropydev

          - name: gwcs dev
            os: ubuntu-latest
            python-version: "3.9"
            toxenv: py39-gwcsdev

          - name: numpy dev
            os: ubuntu-latest
            python-version: "3.9"
            toxenv: py39-numpydev

          - name: Pre-release dependencies
            os: ubuntu-latest
            python-version: "3.9"
            toxenv: prerelease

          - name: Test Against Installed Package
            os: ubuntu-latest
            python-version: "3.9"
            toxenv: packaged

          - name: Warnings treated as exceptions
            os: ubuntu-latest
            python-version: "3.9"
            toxenv: warnings

          - name: Windows
            os: windows-latest
            python-version: "3.9"
            toxenv: py39
    steps:
      - name: Install system packages for documentation
        if: ${{ contains(matrix.toxenv,'docs') }}
        run: |
          sudo apt update -y
          sudo apt-get install graphviz texlive-latex-extra dvipng
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          submodules: true
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install tox
        run: |
          python -m pip install --upgrade pip
          pip install tox
      - name: Run tox environment '${{ matrix.toxenv }}'
        run: tox -e ${{ matrix.toxenv }}
