name: Downstream

on:
  workflow_dispatch:
    inputs:
      astropy_ref:
        description: astropy ref
        required: true
        default: main
      gwcs_ref:
        description: gwcs ref
        required: true
        default: master
      jwst_ref:
        description: jwst ref
        required: true
        default: master
      specutils_ref:
        description: specutils ref
        required: true
        default: main
  schedule:
    # Run every Monday at 6am UTC
    - cron: '0 6 * * 1'

env:
  CRDS_SERVER_URL: https://jwst-crds.stsci.edu
  CRDS_PATH: ~/crds_cache
  CRDS_CLIENT_RETRY_COUNT: 3
  CRDS_CLIENT_RETRY_DELAY_SECONDS: 20

jobs:
  common:
    name: ${{ matrix.package_name }}@${{ matrix.ref }} unit tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - package_name: astropy
            repository: astropy/astropy
            ref: ${{ github.event.inputs.astropy_ref || 'main' }}
            test_command: pytest
          - package_name: gwcs
            repository: spacetelescope/gwcs
            ref: ${{ github.event.inputs.gwcs_ref || 'master' }}
            test_command: pytest
          - package_name: jwst
            repository: spacetelescope/jwst
            ref: ${{ github.event.inputs.jwst_ref || 'master' }}
            test_command: pytest
          - package_name: specutils
            repository: astropy/specutils
            ref: ${{ github.event.inputs.specutils_ref || 'main' }}
            test_command: pytest
    steps:
      - name: Checkout asdf
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          submodules: true
          path: asdf
      - name: Checkout ${{ matrix.package_name }}
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          repository: ${{ matrix.repository }}
          ref: ${{ matrix.ref }}
          path: target
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install asdf
        run: cd asdf && pip install .
      - name: Install remaining ${{ matrix.package_name }} dependencies
        run: cd target && pip install -e .[test]
      - name: Run ${{ matrix.package_name}} tests
        run: cd target && ${{ matrix.test_command }}
