name: s390x

on:
  workflow_dispatch:
  pull_request:
    # We also want this workflow triggered if the `s390x` label is
    # added or present when PR is updated
    types:
      - synchronize
      - labeled
  push:
    tags:
      - '*'

# Only cancel in-progress jobs or runs for the current workflow
#   This cancels the already triggered workflows for a specific PR without canceling
#   other instances of this workflow (other PRs, scheduled triggers, etc) when something
#   within that PR re-triggers this CI
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  exotic_architechtures:
    runs-on: ubuntu-20.04
    name: Python 3.11

    if: (github.repository == 'asdf-format/asdf' && (github.event_name == 'schedule' || github.event_name == 'push' || github.event_name == 'workflow_dispatch' || contains(github.event.pull_request.labels.*.name, 's390x')))
    env:
      ARCH_ON_CI: ${{ matrix.arch }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: aarch64
          - arch: s390x
          - arch: ppc64le
          - arch: armv7

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: true

      - uses: uraimo/run-on-arch-action@v2
        name: Run tests
        id: build
        with:
          arch: ${{ matrix.arch }}
          distro: ubuntu_rolling

          shell: /bin/bash

          install: |
            apt-get update -q -y
            apt-get install -q -y git \
                                  g++ \
                                  pkg-config \
                                  python3 \
                                  python3-configobj \
                                  python3-astropy \
                                  python3-lz4 \
                                  python3-numpy \
                                  python3-ply \
                                  python3-venv \
                                  python3-wheel \
                                  cython3 \
                                  libwcs7 \
                                  wcslib-dev \
                                  libcfitsio-dev \
                                  liberfa1

          run: |
            uname -a
            getconf LONG_BIT
            python3 -m venv --system-site-packages tests
            source tests/bin/activate
            pip3 install --upgrade pip setuptools gwcs pytest pytest-doctestplus pytest-remotedata
            pip3 install -e .[all,tests]
            pip list
            python3 -m pytest --remote-data
